<main>
    {{#each products}}
        <div>
            <h1>Nombre del producto: {{this.tittle}}</h1>
            <p>Descripcion: {{this.description}}</p>
            <p>Categoria: {{this.category}}</p>
        </div>
    {{/each}}
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="../../public/js/indexjs.js"></script>