<div>
    {{#each products}}
    <div>
        <h1>Nombre del producto: {{this.tittle}}</h1>
        <p>Descripcion: {{this.description}}</p>
        <p>Categoria: {{this.category}}</p>
        <hr>
    </div>
        
    {{/each}}
</div>