
<form id="addProductForm">
    <input type="text" name="tittle" placeholder="Nombre del producto" required>
    <input type="text" name="description" placeholder="Descripción" required>
    <input type="text" name="category" placeholder="Categoría" required>
    <button type="submit">Agregar producto</button>
</form>

<div id="productsList">
    
</div>
